/* =============================
    BASE & VARIABLES
   ============================= */
:root {
  --color-primary: #2dd1ff;
  --color-secondary: #054752;
  --color-accent: #f9253f;
  --color-accent-hover: #006fd1;
  --color-white: #ffffff;
  --color-gray-light: #f5f5f5;
  --color-gray: #ccc;
  --color-text-dark: #424543;
  --color-text-light: #b4b4b4;
  --color-error: #c0392b;
  --color-link-hover: #007acc;
  --color-background: #f9f9f9;
  --color-subtext: #7f8c8d;
  --color-blue-heading: #2980b9;
  --color-orange: rgb(255, 132, 0);
}

body{
     font-family: 'Roboto', sans-serif;
     padding:0;
     margin:0;
     background-color: var(--color-background);
}

* {
    box-sizing: border-box;
    padding:0;
}

.flex-start{
    display:flex;
    justify-content:start;
     align-items: flex-start;
}
.flex{
    display:flex;
    justify-content:center;
     align-items: center-start;
}

/* =============================
    HEADER
   ============================= */
.header {
  width:100%;
  padding: 10px 10%;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-menu .logo {
  height: auto;
  width: 180px;
}

.right-menu {
  display: flex;
  gap: 30px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: 14px;
  text-decoration: none;
  transition: color 0.2s;
}

.menu-item i {
  font-size: 20px;
  margin-right: 8px;
}

.menu-item:hover {
   color: var(--color-link-hover);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .right-menu {
    margin-top: 10px;
    gap: 15px;
  }
}

/* =============================
    ANNOUNCEMENT BANNER
   ============================= */

.announcement-banner{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}

.banner-content{
    display:flex;
    flex-direction:column;
    margin-left:50px;
}

.right-content {
    margin-right:50px;
    margin-left:3%;
}

.right-content img{
    height: auto;
    width: 220px;
}

/* =============================
    FORM SECTION
   ============================= */
.form-section{
  padding:  30px 0;
  margin: 40px auto;
  width:100%;
  display:flex;
  justify-content: center;
  margin-top:80px;
}

.form-fixed-top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.form-fixed-top.visible {
  transform: translateY(0);
}


.form-fixed-top form {
  display: flex;
  flex:1;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.form-section form {
  display: flex;
  flex:1;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.form-fields{
      display: flex;
      flex: 0 0 80%;
      background: var(--color-white);
      border-radius: 3px;
      margin-right: 10px;
      gap: 10px;
      box-sizing: border-box;
}


.form-submit {
    flex: 1;
}

.form-fields,
.form-submit{
    height:100%;
}


.form-row,
.form-button-row{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form-fields .form-row:first-child {
    border-left: none;
}

.form-row{
    width:25%;
    height:100%;
    border-left:1px solid grey;
}

.form-row label {
    margin-left:10px;
    font-weight: 200;
    margin-bottom: 8px;
    color:grey;
    font-size:14px;
    margin-bottom: 4px;
}

.form-row select,
.form-row input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    border:none;
}

.btn {
  background-color: var(--color-accent);
  height:80px;;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: var(--color-accent-hover);
}

/* =============================
    MAIN-WRAPPER SECTION
   ============================= */

.main-wrapper {
   display:flex;
   flex-direction:column;
   width:100%;
   padding: 10px 10%;
   background-color: var( --color-white);
   padding-top: 50px;
}

.bg-primary{
   background-color: #2dd1ff;
}


/* =============================
    REDIRECTION SECTION
   ============================= */
.redirection-section{
    display:flex;
    flex-direction:column;
}

/* =============================
    FEATURES SECTION
   ============================= */
.logo-small{
    width:50px;
}

.features-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      padding:  120px 0;
}

.feature-item{
     display:flex;
     gap: 10px;
     flex-direction:column;
}



@media (max-width: 1200px) {
  .features-grid  {
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: auto auto;
  }
  .feature-item{
     display:flex;
     gap: 10px;
     flex-direction:row;
  }
}

/* =============================
   ️ ABOUT SECTION
   ============================= */
.about-feature {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding:  40px 0;
}
.about-feature-item{
    display:flex;
     gap: 10px;
     flex-direction:column;
}


@media (max-width: 800px) {
  .about-feature {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
  }
}

/* =============================
    ROUTES LIST
   ============================= */


.routes-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding:  40px 0;
}
.routes-column{
     display:flex;
     gap: 10px;
     flex-direction:column;
}


@media (max-width: 800px) {
  .routes-list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto;
  }
}



/* =============================
    FOOTER
   ============================= */
.footer{
  margin-top:20px;
  position:relative;
  display:flex;
  flex-direction:column;
  width:100%;
  padding: 10px 10%;
  background-color: var( --color-white);
}


.partners-container{
     width: 100%;
     display:flex;
     justify-content:space-between;
     align-items:center;
     margin-top: 20px;
}
.partners__item img{
    width:auto;
    height:40px;
}

.visa img,
.vuso img{
    width:auto;
    height:20px;
}
/* =============================
    DOTUA-CONTAINER
   ============================= */

.dotua-container{
      width:100%;
      padding:10px 10%;
      display: flex;
      gap: 20px;
      padding:  40px 0;
      align-items: start;
}

.dotua-container-col{
    display:flex;
    flex-direction:column;
    line-height: 2.2;
}
.dotua-container-col a{
    font-size: 14px;
    font-weight:200;
    color: var(--color-text-dark);
}

.dotua-container-col-img{
    display:flex;
    justify-content:space-between;
     align-items:center;
}
.dotua-container-col-img img{
    width: 150px;
}
.dotua-container-col-img img:first-of-type {
    margin-right:15px;
}

.dotua-container-row3 h3 ,
.dotua-container-row2 h3 {
    font-size: 22px;
    margin-top: 40px;
    color: var(--color-text-light);

}

.dotua-container-row3{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      flex: 1;
}

.dotua-container-col a{
    text-decoration:none; !important;
}

@media (max-width: 1200px) {
    .dotua-container-col-img{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        align-items:center;
    }
    .dotua-container-col-img img:first-of-type {
        margin-right:0;
        margin-bottom: 15px;
    }
}
@media (max-width: 1000px) {
  .dotua-container {
        display: flex;
        flex-direction:column;
  }
  .dotua-container-row2{
      display: flex;
      justify-content:space-between;
      align-items:start;
  }
   .dotua-container-row2 .dotua-container-col{
         margin-right:  40px;
   }
   .dotua-container-col-img{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
   }
    .dotua-container-col-img img:first-of-type {
        margin-right:15px;
        margin-bottom: 0;
    }
}


/* =============================
   TYPOGRAPHY / TEXT STYLES
   ============================= */

.title-base {
    color: var(--color-secondary);;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1.4;
}

.subtitle-base {
    color: var(--color-secondary);
    font-weight: 300;
    line-height: 1.6;
}

.section-title{
    font-size: 32px;
    color: var(--color-secondary);
    font-weight:400;
    margin-bottom:10px
}
.section-subtitle{
    font-size: 18px;
    color: var(--color-secondary);
    font-weight:300;
}

.banner-title{
    font-size: 42px;
    font-weight: 900;
}

.banner-subtitle {
    font-size: 18px;
    font-weight: 500;
}

.feature-item-title {
  font-size: 20px;
}

.feature-item-subtitle {
  font-size: 14px;
  font-weight: 500;
}

.about-feature-title {
  font-size: 32px;
}

.about-feature-description {
  font-size: 14px;
  font-weight: 500;
}

.route-title {
  font-size: 18px;
}


.search-tickets-title{
    font-size: 38px;
    color: var(--color-secondary);
    font-weight:400;
    margin-bottom:10px
}
.search-tickets-subtitle{
    font-size: 22px;
    color: var(--color-secondary);
    font-weight:500;
    margin-bottom: -3px;
}
.search-tickets-infotitle{
    font-size: 28px;
    color: var(--color-secondary);
    font-weight:400;
    margin-top: -5px;
}

.ticketBadge-title{
   background-color: var(--color-orange);
   color: var(--color-white);
   padding:4px;
   border-radius: 5px;
   margin-left: 15px;
}

.detail-trip-title{
    font-size: 28px;
    color: var(--color-secondary);
    font-weight:400;
    margin-right: 10px;
}
.detail-trip-subtitle{
    font-size: 14px;
    color: var(--color-secondary);
    font-weight:300;
    margin-top:10px;
    margin-bottom:15px;
}
.detail-trip-grey-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-light);
}

.red-title{
color: var(--color-accent);
}


/* =============================
    FORM SECTION-ADD-TRIP
   ============================= */
.form-section-add-trip{
  padding:  10px 0;
  margin: 20px auto;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top:5px;
}


.form-section-add-trip form {
  display: flex;
  flex:1;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.form-fields-add-trip{
 width: 100%;
  height:100%;
  display: flex;
  background: var(--color-white);
  border-radius: 3px;
  gap: 5px;
  box-sizing: border-box;
}

.form-row-add-trip {
    max-width: 20%;
    width: 20%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
     justify-content: flex-start;
    height: 60px;
    border:1px solid grey;
     padding: 5px 10px;
}

.form-row-add-trip  label {
    margin-left:10px;
    font-weight: 200;
    margin-bottom: 5px;
    color:grey;
    font-size:14px;
    margin-bottom: 4px;
}

.form-row-add-trip  select,
.form-row-add-trip  input {

    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 14px;
    border:none;
}

.form-button-row-add-trip{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-add-trip  {
  background-color: var(--color-accent);
  min-width:25%;
  height:80px;;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-add-trip :hover {
  background-color: var(--color-accent-hover);
}



/*=====================================
search-tickets
=======================================*/
.search-tickets-section{
   background-color: var(--color-background);
}
.search-tickets-info-container{
    margin-top: 50px;
}

.about-trip-container{
    background-color: var(--color-white);
    border-radius: 8px;
    padding:15px;
}

.detail-trip-container {
  position: relative;
  margin-top: 50px;
}


.badge-info {
  position: absolute;
  top: -25px;
  background-color: var(--color-orange);
  color: white;
  border-radius: 4px 4px 0 0;
  padding: 6px 10px 8px 10px;
  font-size: 13px;
}


.detail-trip-item {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: var(--color-white);
  border: 1px solid var(--color-orange);
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 5;
  margin-bottom:25px;
}

.detail-trip-wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.detail-trip-wrapper-col-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:70%
}
.detail-trip-wrapper-col-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
     width:30%
}
.detail-trip-grey-segment{
    position:relative;
   display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:50px;
    background-color: var(--color-background);
}
.trip-icons{
     position:absolute;
    left:10px;
    top:10px;

}
.wc-icon {
  display: inline-block;
  color: #333;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: sans-serif;
  vertical-align: middle;
}


.detail-trip-grid {
      position: relative;
      width: 100%;
      height:90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 10px;
      margin-top: 5px;
      padding: 10px;
}

.detail-trip-price{
    position:relative;
    height: 100%;
    width: 100%;


}
.vertical-dashed-line {
    position:absolute;
    left:0;
    top:0;
    z-index:10;
    display:inline;
    width: 1px;
    background: repeating-linear-gradient(
    to bottom,
    var(--color-secondary),
    var(--color-secondary) 10px,
    transparent 10px,
    transparent 20px
  );
  height: 100%;
}

.detail-trip-item-col{
    width:50%;
}


.btn-left-price{
    background-color: var(--color-accent);
    position: relative;
    height: 50px;
    width: 40%;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.btn-left-price:hover {
  background-color: var(--color-accent-hover);
}

.btn-price-mobile,
.carrier-mobile{
    display: none;
}

.btn-price-desktop,
.price-desktop{
   display: flex;
}

.price-desktop{
   justify-content: flex-end;
   align-items: flex-end;
   margin: 0 10px ;
}

@media (max-width: 1000px) {
 .detail-trip-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .btn-left-price{
    width: 60%;
    }
}

@media (max-width: 800px) {
    .detail-trip-wrapper{
        display: flex;
        flex-direction: column;
    }

    .detail-trip-wrapper-col-left{
         width: 100%;
    }
    .detail-trip-grey-segment{
        display: none;
        height:0;
    }


    .detail-trip-wrapper-col-right{
        width:100%;
        position: absolute;
        right:0;
        bottom: 0;
    }


  .btn-left-price{
        position: absolute;
        right:0;
        bottom: 0;
        height: 50px;
        width: 50%;
        border-radius: 6px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-price-mobile,
     .carrier-mobile{
        display: inline;
    }
    .carrier-mobile{
       margin-left:20px;;
    }

    .btn-price-desktop,
    .price-desktop,
    .vertical-dashed-line {
        display: none;
    }



}













