body{
     font-family: 'Roboto', sans-serif;
     padding:0;
     margin:0;
     background-color: #e1e1e1;
}

* {
    box-sizing: border-box;
    padding:0;
}

/* header.css */
.header {
  width:100%;
  background-color: #2dd1ff;
  padding: 10px 10%;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-menu .logo {
  height: auto;
  width: 180px;
}

.right-menu {
  display: flex;
  gap: 30px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.2s;
}

.menu-item i {
  font-size: 20px;
  margin-right: 8px;
}

.menu-item:hover {
  color: #007acc;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .right-menu {
    margin-top: 10px;
    gap: 15px;
  }
}

.wrapper{
   display:flex;
   flex-direction:column;
   width:100%;
   padding: 10px 10%;
   background-color: #ffffff;
}
.blue-background{
   background-color: #2dd1ff;
}

.redirectionWrapper{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}

.left-content .redirectionInfo{
    display:flex;
    flex-direction:column;
    margin-left:50px;
}
.redirectionInfoTitle{
    font-size: 42px;
    color: #054752;
    font-weight:900;
    margin-bottom:10px;
    line-height: 1.4;
}
.redirectionInfoSubTitle{
 font-size: 18px;
    color: #054752;
    font-weight:500;
}
.right-content {
    margin-right:50px;
    margin-left:3%;
}
.right-content img{
    height: auto;
    width: 220px;
}


/*form*/
.formWrapper {
  padding:  30px 0;
  margin: 40px auto;
  width:100%;
  display:flex;
  justify-content: center;
  margin-top:80px;
}

.formWrapperTop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.formWrapperTop.visible {
  transform: translateY(0);
}


.formWrapperTop form {
  display: flex;
  flex:1;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}



.formWrapper form {
  display: flex;
  flex:1;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.left-form-block{
    display: flex;
  flex: 0 0 80%;
  background: #f5f5f5;
  border-radius: 3px;
  margin-right: 10px;
  gap: 10px;
  box-sizing: border-box;

}


.right-form-block {
  flex: 1;
}

.left-form-block,
.right-form-block{
  height:100%;
}



.form-row,
 .form-row-bnt{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
   justify-content: center;
}

.left-form-block .form-row:first-child {
    border-left: none;
}

.form-row{
    width:25%;
    height:100%;
    border-left:1px solid grey;
}

.form-row label {
margin-left:10px;
  font-weight: 200;
  margin-bottom: 8px;
  color:grey;
  font-size:14px;
  margin-bottom: 4px;
}

.form-row select,
.form-row input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.btn {
  background-color: #f9253fff;
  height:80px;;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #006fd1;
}


/*       wrapper           */

.wrapper{
padding-top: 50px;
}
.wrapper-redirectionBlock{
    display:flex;
    flex-direction:column;
}


.redirectionBlock-InfoTitle{
    font-size: 32px;
    color: #054752;
    font-weight:400;
    margin-bottom:10px
}
.redirectionBlock-InfoSubTitle{
    font-size: 18px;
    color: #054752;
    font-weight:300;
}

.logo-small{
width:50px;
}

.wrapper-Info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding:  120px 0;
}

.wrapper-InfoTitle{
    font-size: 28px;
    color: #054752;
    font-weight:400;
    margin-bottom: 100px;
    line-height: 1.8;
}

.wrapper-info-element{
    display:flex;
     gap: 10px;
     flex-direction:column;
}

.wrapper-info-element-title{
    font-size: 20px;
    color: #054752;
    font-weight:400;
    margin-bottom:10px;
    line-height: 1.8;
}
.wrapper-info-element-SubTitle{
    font-size: 14px;
    color: #054752;
    font-weight:500;
    line-height: 1.6;
}

@media (max-width: 1200px) {
  .wrapper-Info  {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
  .wrapper-info-element{
    display:flex;
     gap: 10px;
     flex-direction:row;
  }
}



.wrapper-aboutBlock-Info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding:  40px 0;
}
.wrapper-aboutBlock-InfoElement{
    display:flex;
     gap: 10px;
     flex-direction:column;
}

.wrapper-aboutBlock-InfoElement-title{
    font-size: 32px;
    color: #054752;
    font-weight:400;
    margin-bottom:10px
}
.wrapper-aboutBlock-InfoElement-description{
    font-size: 14px;
    color: #054752;
    font-weight:500;
    line-height: 1.6;
}

@media (max-width: 800px) {
  .wrapper-aboutBlock-Info {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
  }
}


.wrapper-routesBlock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding:  40px 0;
}
.wrapper-routesBlock-elements{
     display:flex;
     gap: 10px;
     flex-direction:column;
}
.wrapper-routesBlock-elements-title{
    font-size: 18px;
    color: #054752;
    font-weight:400;
    margin-bottom:10px;
    line-height: 1.2;
}

@media (max-width: 800px) {
  .wrapper-routesBlock {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
  }
}



/*  footer */
.footer{
  margin-top:20px;
  position:relative;
  display:flex;
  flex-direction:column;
  width:100%;
  background-color: #ffffff;
  padding: 10px 10%;
  color: white;
}


.partners-container{
     width: 100%;
     display:flex;
     justify-content:space-between;
     align-items:center;
     margin-top: 20px;
}
.partners__item img{
    width:auto;
    height:40px;
}

.visa img,
.vuso img{
    width:auto;
    height:20px;
}

.dotua-container{
      width:100%;
      padding:10px 10%;
      display: flex;
      gap: 20px;
      padding:  40px 0;
      align-items: start;
}


.dotua-container-row3{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      flex: 1;
}



.dotua-container-row3 h3 ,
.dotua-container-row2 h3 {
    margin: 4px 0;
    font-size: 22px;
    font-weight:400;
    color: #b4b4b4;
    margin-top:40px;
}
.dotua-container-col{
    display:flex;
    flex-direction:column;
    line-height: 2.2;
}
.dotua-container-col a{
    font-size: 14px;
    font-weight:200;
    color: #424543;
}

.dotua-container-col-img{
    display:flex;
    justify-content:space-between;
     align-items:center;
}
.dotua-container-col-img img{
    width: 150px;
}
.dotua-container-col-img img:first-of-type {
    margin-right:15px;
}

@media (max-width: 1200px) {
    .dotua-container-col-img{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        align-items:center;
    }
    .dotua-container-col-img img:first-of-type {
        margin-right:0;
        margin-bottom: 15px;
    }

}
@media (max-width: 1000px) {
  .dotua-container {
        display: flex;
        flex-direction:column;
  }
  .dotua-container-row2{
      display: flex;
      justify-content:space-between;
      align-items:start;
  }
   .dotua-container-row2 .dotua-container-col{
         margin-right:  40px;
   }
   .dotua-container-col-img{
        display:flex;
         flex-direction:row;
        justify-content:space-between;
        align-items:center;
   }
    .dotua-container-col-img img:first-of-type {
        margin-right:15px;
        margin-bottom: 0;
    }
}


















h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #2980b9;
    font-weight: 700;

}


.notice-date {
    font-style: italic;
    color: #7f8c8d;
    font-size: 14px;
}

.form-container p {
    margin-bottom: 15px;
}

.form-container input, .form-container select, .form-container textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-container .errorlist {
    color: #c0392b;
    margin: 5px 0 10px 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.form-container button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #2980b9;
}