<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

  <title>bosfor.ua</title>
</head>

<body>
  <div class="mainContainer">
    <nav class="header bg-white shadow-small">
      <div class="container">
        <div class="left-menu">
          <a href="{% url 'home' %}">
            <img src="{% static 'img/logo_white.png' %}" alt="Logo" class="logo" />
          </a>
        </div>
        <div class="right-menu">
          <a href="#" class="menu-item menu-item__fn-black">
            <i class="fas fa-headset"></i>
            <span>Служба підтримки</span>
          </a>
         {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="menu-item menu-item__fn-black">
              <i class="fas fa-sign-out-alt"></i>
              <span>Вихід</span>
            </a>
          {% else %}
            <a href="{% url 'register' %}" class="menu-item menu-item__fn-black">
              <i class="fas fa-user"></i>
              <span>Особистий кабінет</span>
            </a>
          {% endif %}
        </div>
      </div>

        <div class="profile-wrapper_ref-section">
          <a href="{% url 'profile' %}" class="subtitle-base {% if request.path == '/profile/' %}active{% endif %}">
            <h4>Майбутні поїздки</h4>
          </a>
          <a href="{% url 'my_trips' %}" class="subtitle-base {% if request.path == '/my_trips/' %}active{% endif %}">
            <h4>Мої поїздки</h4>
          </a>
              <a href="{% url 'profile_info' %}" class="subtitle-base {% if request.path == '/profile_info/' %}active{% endif %}">
            <h4>Контактна інформація</h4>
          </a>
          <a href="{% url 'profile_info' %}" class="subtitle-base {% if request.path == '/profile_info/' %}active{% endif %}">
            <h4>Відгуки</h4>
          </a>
        </div>
      </nav>
      <div class="flex-column__center mrg-t50 {% if request.resolver_match.url_name == 'my_trips' or request.resolver_match.url_name == 'profile_info' %}non-display{% endif %}">
            <div class="title-subbase section-subtitle ">
              Щоб знайти квитки на автобус, виберіть напрямок, дату поїздки та кількість пасажирів
          </div>
      </div>
<div class="main-wrapper__profile  bg-white shadow-small {% if request.resolver_match.url_name == 'my_trips' or request.resolver_match.url_name == 'profile_info'%}non-display{% endif %}">
      <div class="form-section__profile ">

        <form method="post">
          {% csrf_token %}
          <div class="form-fields">
            {% for field in form %}
            <div class="form-row{% if forloop.first %} first{% endif %}">
              {{ field.label_tag }}
              {{ field }}
              {{ field.errors }}
            </div>
            {% endfor %}
          </div>
          <div class="form-submit">
            <div class="form-button-row">
              <button type="submit" class="btn btn-primary">🔍 Знайти квитки</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="content-section">

    </div>
 <div class="main">
    {% block content %}


    {% endblock %}
    </div>
</body>

</html>